*{
    margin: 0;
    padding: 0;
    margin: 0;
}
section{
    padding: 10%;
    width: auto;
    min-height: 1000px;
    height: auto;
}
table{
    position: absolute;
    top: 12px;
    left: 25%;
    border-collapse: collapse;
    border: 2px solid black;
}
td{
    width: 73px;
    height: 73px;
}
.p{
    background-color: black;
}
.b{
    background-color: white;
}